numpy==1.16.3
pandas==0.23.4
Flask==1.0.2
gunicorn==19.9.0
requests==2.21.0
Werkzeug==0.15.2
Pillow==9.3.0
Flask-Dropzone==1.5.3
Keras==2.2.4
Keras-Preprocessing==1.0.9
tensorflow==1.13.1
scikit-image==0.15.0
pylint==2.2.2
boto3==1.9.164